.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 14px 0px #0000001f;
  border: 1.5px solid #2f2a37;

  height: 110px;
}
.header-content {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

.language-button {
  display: block;
  border: none;
  background-color: #fff;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.language-button p {
  margin: 0;
  display: inline;
}

.language-button img {
  margin-left: 5px;
  vertical-align: middle;
}
